// Custom styles.
body {
  background:url(https://source.unsplash.com/random/1600x900);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:50% 50%;
}

.content-wrap {
  opacity: 0.86;
}